*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#show-more{
    width: 25px;
    height: 20px;
    display: none;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
#show-more span{
    width: 25px;
    height: 5px;
    background: black;
    border-radius: 20px;
}
#show-more span:nth-child(2){
    width: 20px;
}
#show-more span:nth-child(3){
    width: 15px;
}
#background{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}


body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 20px;
}


header{
    background: #D9D9D9;
    padding: 25px;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.25);
}
header a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 20px;
    transition: 0.3s ease;
}
header a:hover{
    text-decoration: underline 3px black;
    transform: translateY(-2px);
}
header #items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    position: absolute;
    top: 25px;
    right: 100px;
}
header #search.large{
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    position: absolute;
    border: 4px solid;
    border-radius: 100%;
}
header #search.large::after{
    content: "";
    position: absolute;
    rotate: -35deg;
    border: 3px solid black;
    height: 10px;
    right: -4px;
    bottom: -15px;
}
#search2 input{
    padding: 5px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: -1px -1px 10px ;
}

.main{
    align-self: center;
    margin-top: 50px;
    max-width: 1300px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, white, rgb(223, 223, 223));
    padding: 30px;
    border-radius: 20px;
}
.main .icon{
    width: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid;
    align-self: center;
    background: white;
}
.main a{
    text-decoration: none;
}
.main a svg{
    color: black;
}
.main > .contacts{
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 400px;
}


footer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
footer .social-media{
    height: 200px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .medias{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .clickme{
    display: flex;
}
footer .medias a{
    text-decoration: none;
}
footer .medias .circle{
    border-radius: 0px;
    margin: 20px;
}
footer .copy{
    height: 150px;
    background: #6003A9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
svg{
    width: 50px;
    height: 50px;
    color: rgb(62, 62, 62);
}



@media (min-width: 720px){
    .small{
        display: none;
    }
    #items{
        display: flex;
    }
    #more{
        display: flex;
    }
}

@media (max-width: 720px){
    #more{
        display: none;
    }
    .large{
        display: none;
    }
    #search2.small{
        display: unset;
    }
    #show-more{
        display: flex;
    }
    .items-column{
        flex-direction: column;
        position: absolute;
        justify-content: unset;
        align-items: unset;
        background: rgb(199, 199, 199);
        box-shadow: 1px 1px 10px;
    }
    header #items{
        width: 160px;
        height: 200px;
        padding: 20px;
        border-radius: 0px 0px 0px 20px;
        right: 0;
        top: 0;
    }
}